.Card {
  display: flex;
  background-color: rgb(30, 125, 64);
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  margin: 20px;
  padding: 5px;
}
.pokeImage {
  width: 100px;
  height: 100px;
}
